.nteventsmain{
    height: 70vh;
    background-color: aqua;
    box-sizing: border-box;

}
.nteventsmain h1{
    text-align: center;
    font-size:50px;
}

.ntevents{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ntechevents-cards{
    height: 200px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    flex-grow: 1;
    box-sizing: border-box;
    padding-top: 50px;
}

.ntechevents-cards .ncard3{
    width: 150px;
    height: 240px;
    border: 2px solid black;
    
}

@media (min-width : 409px) and (max-width: 699px){
    .nteventsmain{
        height: 105vh;
        background-color: aqua;
        box-sizing: border-box;
        overflow: hidden;
    }
    .ntechevents-cards .ncard3{
        width: 150px;
        height: 240px;
        border: 2px solid black;
        
    }
    

}

@media screen and (max-width : 1080px) {
   
    .ntechevents-cards .ncard3{
        width: 120px;
        height: 140px;
        border: 2px solid black;
        scale: 1;
        
    }
    .nteventsmain{
        min-height: 95vh;
        background: aqua;
        box-sizing: border-box;
        

}

.ntechevents-cards{
    height: 20px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    flex-grow: 2;
    box-sizing: border-box;
}  
}