nav{
    width: 100%;
    background-color: rgb(0, 38, 38);
    color: rgb(236, 236, 236);
    padding: 0px 0;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20000;
    opacity: 0.8;
    margin-top: 25px;
    border: none;

}

.logo{
    width: 50px;
    height: 50px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 10px;
    font-size: 18px;
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.icons{
    width: 180px;
}

.icon1{
    height: 75px;
    width: 75px;

}
--webkit-scrollpath{
    display: none;
}

.jntugvlogo{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.menuelements:active{
    background-color: teal;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;

}

@media (min-width : 419px ) and (max-width : 770px){
    a{
        font: 19px;
    } 
    nav{
        display: none;
     }
}

@media screen and (max-width : 770px) {
    nav{
        display: none;
    }
   
}