*{
    margin: 0;
    padding: 0;

}

.follow{
    background-color: black;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

}

.follow h3{
    color: wheat;
    text-align: center;
}

.follow h5{
    color: wheat;
    text-align: center;
}

.follow img {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: black;
}