*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: Instagram;
    src: url("../../assets/Socialmedia.ttf");
}

.follow{
    background-color: black;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 150px;

}

.quicklinks{
    color: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding: 20px 0;
    font-size: 20px
}

.click{
    color: wheat;
    text-align: center;
}

.follow h3{
    color: wheat;
    text-align: center;
}

.follow h5{
    color: wheat;
    text-align: center;
}

.follow img {
    width: 100px;
    height: 100px;
    text-align: center;
    color: black;
    border-radius: 50%;
    margin: 0 20px;
    

}

.logo{
    font-family: Instagram;
    color: white;
    text-align: center;

}