.teventsmain{
    min-height: 70vh;
    background:linear-gradient(to right, black,grey,rgb(0, 0, 0));
    box-sizing: border-box;
    z-index: 1000;

}
.teventsmain h1{
    text-align: center;
    font-size:50px;
    z-index: 2000;
    color: aliceblue;
}

.tevents{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.techevents-cards{
    height: 20px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    flex-grow: 2;
    box-sizing: border-box;
    
}

.techevents-cards .card3{
    width: 150px;
    height: 240px;
    border: 2px solid black;
    
    
}

.animatcard{
    position: relative;
    display: flex;
    place-content: center;
    overflow: hidden;
    place-items: center;
    border-radius: 20px;
    animation: appear 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.animatcard::before{
    content: '';
    position: absolute;
    width: 500px;
    background-image: linear-gradient(180deg,cyan,rgb(255, 9, 50));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
 
.animatcard::after{
    content: "";
    position: absolute;
    background: url('../../../assets/BIM.png');
    background-repeat: no-repeat;
    background-size: 350%;
    background-position: center;
    inset: 5px;
    border-radius: 15px;
}

@media (min-width : 409px) and (max-width: 699px){
    .teventsmain{
        height: 110vh;
        background-color: rgb(27, 29, 29);
        box-sizing: border-box;
        overflow: hidden;
        padding-bottom: 50px;
    }

    .techevents-cards{

        padding: 0 34px;
    }
    .techevents-cards .card3{
        width: 150px;
        height: 240px;
        border: 2px solid black;
        gap: 0;
        padding: 0;
        margin: 0;
        
    }
    

}

@media screen and (max-width : 1080px) {
   
    .techevents-cards .card3{
        width: 120px;
        height: 140px;
        border: 2px solid black;
        scale: 1;
        
    }
    .teventsmain{
        min-height: 95vh;
        background: linear-gradient(to right, black,grey,rgb(0, 0, 0));
        box-sizing: border-box;
        

}

.techevents-cards{
    height: 20px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    flex-grow: 2;
    box-sizing: border-box;
}  
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}