.events1{
    background-color: aquamarine;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events1 h1{
    text-align: center;
    font-size: 80px;
    
    
}