*{
    margin: 0;
    padding: 0;
}

.eventsinfo{
    color: beige;
    font-size: 0.9rem;
    text-align: center;
    background-color: rgba(117, 117, 117, 0.231);
    
    border-radius: 20px;
    font-weight: 500;
    


}