*{
    margin: 0;
    padding: 0;
}

.eventsinfo{
    color: beige;
    font-size: 1.2rem;
    text-align: center;
    background-color: rgba(117, 117, 117, 0);
    
    border-radius: 20px;
    font-weight: 500;
    


}

.registration{
  padding: 8px 40px;
  margin-top: 14px;
  background-color: #ff0000;
  text-align: center;
  font-size: 15px;
  position: absolute;
  
  
}

@media (min-width:320px) and (max-width:768px) {
     .eventsinfo{
        font-size: 0.9rem;
     }
      .registration{
        position: absolute;
        bottom: 9;
        left: 0;
      }
}