@font-face {
    font-family: myfont;
    src: url("../../../assets/amp.TTF");
}

*{
    margin: 0;
    padding: 0;
}
.matter{
    text-align: center;
    font-size: 4.5rem;
}

.to{
    padding: 0;
    margin: 0;
}

div{
    z-index: 100;
}
.matter h1{
    font-family: myfont;
    font-weight: 200;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: rgb(255, 0, 72);
}
.particles{
    height: 100vh;
}
.auto-type{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.date{
    font-size: 50px;
}

@media (min-width : 209px) and (max-width: 699px){
    .matter h1{
        font-size: 7.5rem;
    }
    .date{
        font-size: 50px;
    }
   
}

@media screen and (max-width : 1080px) {
    .matter h1{
        font-size: 50px;
    }
    .date{
        font-size: 30px;
    }
   
}