@font-face {
    font-family: myfont;
    src: url("../../../assets/Nightcore.ttf");
}

*{
    margin: 0;
    padding: 0;
}
.matter{
    text-align: center;
    font-size: 3.5rem;
    z-index: 4000;

    color: #FD8B51;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0  0 10px black;
}


.to{
    padding: -10;
    margin: 0;
    z-index: 10;
    font-size: 2.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.twok25{
    font-size: 2.4rem;
}

div{
    z-index: 2000;
}
.particles{
    height: 100vh;
}
.auto-type{
    color: #5a18c4;
    font-size: 50px;
    text-shadow: 0 0 10px white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date{
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dept{
    font-size: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    padding-top: 10px;
}
.bold1{
    font-weight: 800;
    font-family:sans-serif;
    text-shadow: 0 0 10px rgb(236, 205, 0);
}



@media screen and (max-width : 1080px) {
    .matter h1{
        font-size: 51px;
    }
    .date{
        font-size: 30px;
    }
    .matter{
        font-size: 0.5rem;
    }
    .dept{
        font-size: 1rem;
    }
    .to{
        font-size: 2rem;
        padding: -10px;
    }

   
}