*{
    margin: 0;
    padding: 0;
}

body{

    
    font-family: sans-serif;
    /*-webkit-font-smoothing : antialiased;*/
}

.title{
   
   
}
.title span{
    position: relative;
    top: 20px;
    display: inline-block;
    -webkit-animation: bounce 1s ease infinite alternate;
    font-size: 100px;
    color: #003333;
    text-shadow: 0 1px 0 rgb(0, 0, 0) , 0 2px 0 rgb(255, 145, 0), 0 3px 0 #ccc, 0 4px 0 #ccc, 0 4px 0 rgb(248, 13, 13) , 0 6px 0 blueviolet, 0 7px 0 transparent, 0 8px 0 transparent,0 9px 0 rgb(255, 204, 0), 0 10px 10px rgba(0,0,0,1);
}

.title span:nth-child(2){
    -webkit-animation-delay: 0.1s;
}

.title span:nth-child(3){
    -webkit-animation-delay: 0.2s;
}
.title span:nth-child(4){
    -webkit-animation-delay: 0.3s;
}
.title span:nth-child(5){
    -webkit-animation-delay: 0.4s;
}
.title span:nth-child(6){
    -webkit-animation-delay: 0.5s;
}
.title span:nth-child(7){
    -webkit-animation-delay: 0.6s;
}
.title span:nth-child(8){
    -webkit-animation-delay: 0.2s;
}
.title span:nth-child(9){
    -webkit-animation-delay: 0.3s;
}
.title span:nth-child(10){
    -webkit-animation-delay: 0.4s;
}
.title span:nth-child(11){
    -webkit-animation-delay: 0.5s;
}
.title span:nth-child(12){
    -webkit-animation-delay: 0.6s;
}
.title span:nth-child(13){
    -webkit-animation-delay: 0.7s;

}

@-webkit-keyframes bounce{
    100%{
        top: -2px;
        text-shadow: 0 1px 0 rgb(255, 14, 14) , 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 4px 0 #ccc , 0 6px 0 rgb(200, 0, 0), 0 7px 0 t#ccc, 0 8px 0 #ccc,0 9px 0 rgb(194, 7, 7), 0 20px 20px rgba(0,0,0,0.4);;
    }
}

@media (min-width: 320px ) and (max-width : 768px) {
    .title span{
        font-size: 50px;
        padding-bottom: 10px;
    } 
    
    @-webkit-keyframes bounce{
        100%{
            top: -2px;
            text-shadow: 0 1px 0 rgb(255, 14, 14) , 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 4px 0 #ccc , 0 6px 0 rgb(200, 0, 0), 0 7px 0 t#ccc, 0 8px 0 #ccc,0 9px 0 rgb(194, 7, 7), 0 20px 20px rgba(0,0,0,0.4);;
        }
    }
}