*{
    margin: 0;
    padding: 0;
}
.workshop-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;


}
.workshopimg{
    height: 240px;
    width: 100%;
}

.classtext{
    position:fixed;
    top: 10;
    left: 0;
}