@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background: linear-gradient(to left ,black, teal,black);
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  line-height: 1;
}
.container1{
  padding-left: 5%;
  padding-right: 5%;
}
.particles{
  z-index: -10000;
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (min-width:1441px){
  .container1{
    padding-left: 25%;
    padding-right: 25%;
  }
}