*{
    margin: 0;
    padding: 0;
}
.scontainer{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: aquamarine;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
}
.scard{
    width: 70%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accomh1{
    text-align: center;
    font-size: 2.5rem;
    padding: 5px;
    text-align: center;
}
.accomidationh1{
    font-size: 2.5rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button{
    padding: 8px 60px;
    background: linear-gradient(45deg , red,white,rgb(0, 124, 128),cyan);
    border: none;
    box-shadow: 0 0 0 0 10px black ;
}
.btn button:hover {
    background: blueviolet;
}

.accinfo p{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 550;
}