*{
    margin: 0;
    padding: 0;
}
.scontainer{
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    
}
.scard{
    width: 70%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accinfo{
    border: 3px solid rgb(148, 104, 0);
    color: #F6FB7A;
    
    text-align: justify;
}
.accomh1{
    text-align: center;
    font-size: 2.5rem;
    padding: 0 5px;
    text-align: center;
}
.accomidationh1{
    font-size: 2.5rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button{
    padding: 8px 100px;
    background-color: antiquewhite;
    border: none;
    box-shadow: 0 0 0 0 10px black ;
    border: none;
    border-radius: 50px;
}
.btn button:hover {
    background: rgb(255, 255, 101);
}

.accinfo p{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}
.welcomeJntu{
    text-align: center;
}

.scontainer{
    animation: appear 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    box-sizing: border-box;
}