*{
    padding: 0%;
    margin: 0;
}

@media (min-width : 1080px){
    .mobnav{
        display: none;
    }
    .toplogo{
        display: none;
    }
}

@media (min-width:320px) and (max-width: 770px){
    .mobnav{
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 200000;
                background-color: rgba(170, 0, 255, 0);
                width: 100%;
                padding: 0;
                margin: 0;
    }
    .mobnav ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        list-style: none;
        border: 1px solid rgb(255, 255, 255);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        flex-basis: 50%;
        flex-basis: 49%;
        padding: 0;
        margin: 0;
        border: none;
        
    }

    .mobnav ul li button{
        width: 100%;
        height: 100%;
        border: none;
        gap: 0;
        flex-grow: 59%;
        flex-shrink: 100%;
        background-color: blueviolet;
        
    }
    .mobnav ul:active{
        background-color: blue;
    }
    
    .mobnav ul li{
        background-color: rgba(132, 0, 255, 0);
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid black;
        border-right: 1px solid black;
    
    }
    .mobnav ul li{
        background-color: rgba(165, 42, 42, 0);
        transform: scaleX(10px);
        
    }
    .toplogo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7vh;
        position:fixed;
        top: 2px;
        left: 0;
        background-color: rgba(174, 0, 255, 0.529);
        width: 100%;
        z-index: 20000;
        
    }
    .toplogo img{
        height: 30px;
        width: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .micons{
        margin-right: 5%;
    }
    .micons img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .homemenu{
        border-top-left-radius: 15px;
    }
    .contactUsmenu{
        border-top-right-radius: 15px;
    }
}
